// =========================
//        LAYOUT
// =========================

.container {
  display: flex;
  flex-direction: column;

  @include mq(large) {
    margin-left: em(150px);
    margin-top: 0;
  }
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color-shade;
  width: 100%;
  height: em(75px);
  position: fixed;
  z-index: 100;
  top: 0;
  // overflow-y: hidden;

  @include mq(large) {
    height: em(100px);
  }
}

.header-right {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: em(8px);

  li {
    // margin-left: em(15px);
    cursor: pointer;
  }

  @include mq(large) {
    margin-right: em(75px);
  }
}

.dashboard {
  margin-top: em(150px);

  @include mq(large) {
    margin-top: em(100px);
  }
}

.dashboard-heading {
  padding: em(8px);
}

.dashboard-bar {
  @include flexify($dir: row, $just: space-between);
}

.search-bar {
  width: 85%;
}

.alert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: em(20px);
    border-radius: $br-default;
    background-color: $color-primary;
    color: white;
    width: 90%;
    height: em(80px);
    text-align: center;
    font-size: em(14px);
    padding: em(10px);

    @include mq(medium) {
      font-size: em(16px);
    }

    @include mq(mdlarge) {
      height: em(60px);
    }

    @include mq(large) {
      font-size: em(16px);
      padding: em(20px);
      // height: em(75px);
    }
}


.close-btn {
    margin-right: em(5px);
    margin-bottom: em(10px);
    margin-top: em(2px);
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: $color-light;
}

#social-stats {
  padding-top: em(30px);
  padding-bottom: em(30px);
  border-bottom: $section-div;
}

#twitter,
#facebook,
#google {
  @include flexify($dir: row, $just: space-between);
  background: $color-light;
  border: .5px solid $color-shade;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: em(30px);
  margin-bottom: em(30px);

  @include mq(medium) {
    width: auto;
    padding: em(20px);
  }

  @include mq(large) {
    padding: em(20px) em(55px);
  }
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: $section-div;

  @include mq(medium) {
    @include flexify($dir: row, $just: center);
  }

  &:last-of-type {
    @include mq(medium) {
      border-bottom: none;
    }
  }
}

#new-members {
  border-bottom: $section-div;

  @include mq(medium) {
    border-right: $section-div;
  }

  @include mq(large) {
    border-bottom: none;
  }
}

#new-members,
#recent-activity {
  @include mq(medium) {
    flex-grow: 1;
    width: 100%;
    height: em(525px);
  }
}

.activity {
  @include flexify($dir: row, $just: space-around);
  width: 100%;

  span {
    color: $color-accent;
    font-weight: $font-weight--light;
    font-size: em(14px);
    margin-left: em(20px);
    margin-right: em(8px);
    margin-top: em(10px);
    max-width: em(330px);

    @include mq(medium) {
      // margin: 0;
      margin-left: em(8px);
      margin-right: em(8px);
      display: block;
      max-width: em(300px);
    }

    a {
      font-size: em(96px);
      transition: .3s color ease-in;

      &:hover {
        color: $color-shade;
      }
    }
  }

  @include mq(medium) {
    height: 25%;
  }
}

p.date-lg {
  display: none;

  @include mq(medium) {
    display: block;
    margin-right: em(8px);
    font-size: em(14px);
  }
}

.member-listing,
.activity {
  @include mq(medium) {
    @include flexify($dir: row, $just: space-around);
    width: 100%;
    border-bottom: $section-div;
  }
}

ul {
  @include mq(medium) {
    padding: 0;
  }
}

.member-listing:last-child,
.activity:last-child {
  border-bottom: none;
}

#message-user,
#settings {
  @include mq(medium) {
    width: 100%;
  }
}

#settings {
  @include mq(medium) {
    border-left: $section-div;
  }
}

.group-2 {
  @include mq(medium) {
    @include flexify($dir: row, $just: center);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.group-3 {
  @include flexify($dir: row, $just: space-around);
}

.member-listing {
  @include mq(medium) {
    @include flexify($dir: row, $just: space-between);
    padding-left: em(15px);
    padding-bottom: em(15px);
  }
}

.group-social {
  @include mq(medium) {
    @include flexify($dir: row, $just: space-around);
  }
}

.activity-feed {

  @include mq(medium) {
    padding-left: em(40px);
  }

}

.arrow {

  @include mq(medium) {
    padding-left: em(20px);
  }
}

.dot {
  height: 6px;
  width: 6px;
  background-color: lighten($emerald, 15%);
  border-radius: 50%;
  display: inline-block;
  margin-left: -15px;
  margin-bottom: -5px;
}

#dropdown {
  background-color: $white;
  position: absolute;
  color: $color-accent;
  font-size: em(12px);
  border: 2px solid $scooter;
  width: 90vw;
  // margin-top: 65px;
  height: auto;
  z-index: 5000;
  top: 53px;
  right: 0;
  // margin-left: em(40px);
  // margin-right: em(40px);
  display: none;
  padding-left: em(10px);
  padding-right: em(10px);

  li {
    border-bottom: $section-div;

    &:last-of-type {
      border-bottom: none;
    }
  }

  @include mq(medium) {
    width: 60vh;
  }
}

#notification-item {
  position: relative;
}
